@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
html{
    position: relative;
}
body{
    background-color: #F5F7FB;
}
h1{
    font-family: 'Karla',sans-serif;
}
.intro-page-body {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}
.intro-page-body h1{
    text-align: center;
}
.intro-page-body p{
    font-family: 'Inter', sans-serif;
    margin: 10px 20px;
    text-align: center;
    text-align: center;
}
.intro-button{
    background-color: #4D5B9E;
    color: #F5F7FB;
    border: none;
    border-radius: 10px;
    height: 52px;
    width: 175px;
    margin-top: 25px;
    font-weight: 500;
    transition-duration: 0.2s;
}

.intro-button:active{
    box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.30) inset;
}
.blob-1{
    position: absolute;
    right: 0;
    top: 0;
    width: 30vw;
    z-index: -1;
}
button{
    cursor: pointer;
}
.blob-2{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 25vw;
    z-index: -1;
}
img{
    max-width: 100%;
}
.choice{
    position: relative;
    z-index: 2;
    min-width: 65px;
    border: 1px solid #4D5B9E;
    border-radius: 7px;
    margin: 10px 15px 10px 0px;
    font-family: 'Inter', sans-serif;
    padding: 3px 10px;
    transition-duration: 0.2s;
}
.choice:active{
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.30) inset;
}
.hz{
    color: #DBDEF0;
    border: 0.794239px solid #DBDEF0;
    margin-top: 15px;
    margin-bottom: 10px;
}
.blue-button{
    background-color: #4D5B9E;
    height: 35px;
    width: 120px;
    border: none;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    color: white;
    transition-duration: 0.2s;
}
.blue-button:active{
    box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.30) inset;
}
.blue-button:hover{
    background-color: #F5F7FB;
    color: black;
    border: 1px solid black;
}
.all-questions{
    margin: 0 1.5rem;
}
.one-question p{
    font-weight: bold;
    font-family: 'Karla', sans-serif;
}
.optionsWithTicks{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.layout{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}
.submit {
    color: white;
}
.img_res{
    height: 30px;
    width: 30px
}
.result {
    margin-top: 2.5rem;
    display: flex;
    width: 125%;
    justify-content: space-evenly;
    font-family: 'Inter', sans-serif;
}
.score{
    display: flex;
    align-items: center;
}


@media screen and (max-width: 425px) {
    .blob-1{
        width: 45vw;
        z-index: -1;
    }
    .blob-2{
        width: 45vw;
        z-index: -1;
    }
}